/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabecera */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

/* Navegación */
nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Sección */
section {
    padding: 20px;
    background-color: #fff;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilos de los formularios */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media queries para la responsividad */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
    }
}

/* Estilos adicionales para la página de información */
.informacion h2, .informacion h3 {
    color: #333;
}

.informacion p {
    text-align: justify;
    margin-bottom: 15px;
}

/* Enlaces */
a {
    color: #006699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Añadir un relleno inferior al cuerpo del documento para evitar que el contenido se solape con el footer */
body {
    padding-bottom: 60px; /* Ajusta el valor según la altura de tu pie de página */
}
